{% if project.github %}
  [View on GitHub]({{ project.github }}){:target="_blank"}
{% endif %}

{{ content }}

{% if iframe_embeds %}
{% for embed in iframe_embeds %}
  <iframe src="/media/{{project.name}}/embeds/iframe/{{embed.source | basename }}" frameborder="0" id="embed-{{project.name}}-{{loop.index}}"></iframe>
{% endfor %}
{% endif %}

{% if images %}
<div class="gallery-box">
  <div class="gallery">
    {% for image in images %}
    {% if image.name != project.featured_image %}
    <img src="/media/{{ project.name }}/images/{{ image.name }}">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if videos %}
{% for video in videos %}
<video controls>
  <source src="/media/{{ project.name }}/videos/{{ video.name }}" type="video/webm">
</video>
{% endfor %}
{% endif %}

{% if models %}
{% for model in models %}
<model-viewer src="/media/{{ project.name }}/models/{{ model.name }}" auto-rotate camera-controls></model-viewer>
{% endfor %}
{% endif %}

<iframe frameborder="0" src="/media/monster/embeds/no-embed/monster-food.html" id="food-{{project.name}}"></iframe>